<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Moijv - {% block title %}Dashboard{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav style="background-color: black; ">
            <div style="margin-right:20px; display: inline;"><a style="font-weight: bold; font-size: 24px; color: limegreen; list-style-type: none; text-decoration: none;" href="{{ path('list_user') }}">Liste des users</a></div>
            <div style="display: inline;"><a style="font-weight: bold; font-size: 24px; color: limegreen; list-style-type: none; text-decoration: none;" href="{{ path('list_product') }}">Liste des produits</a></div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
